/***  Header  ***/
header {
  z-index: 5;
  position: fixed;
  top: 0;
}

nav {
  background-color: $color-primary;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 40px;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-content: center;
  color: $color-light;
  justify-content: space-between;
  align-self: center;
  width: 90vw;
  font-size: .9rem;
  font-family: $font-stack;

  a {
    color: $color-light;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;

    li {
      margin-left: 10px;
    }
  }
}

.logobug {
  font-family: $font-stack;
  color: white;
  font-weight: 800;
  font-size: 1.2rem;
  text-decoration: none;
}

.fa-header {
  margin-right: 5px;
  margin-top: 3px;
}

.header-title {
  width: 80vw;
  margin: 2vh auto 2vh;
}


/***  BUTTONS  ***/


.btn-header {
  background-color: transparent;
  font: $font-stack !important;
  font-weight: 500 !important;
  font-size: .9rem !important;
  color: white;
  text-decoration: none;
  display: flex;
  align-content: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  border: 0;
}

.btn {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  padding: 10px 15px;
  border-radius: 5px;
  font: $font-stack;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 1rem auto;
  text-align: center;
}

.btn-register {
  width: 200px;
  border: 1px solid lighten($color-primary, 20%);
  background-color: $color-primary;
  color: $color-light;
  margin: 1rem auto .2rem;
}

.btn_session {
  width: 200px;
  border: 1px solid lighten($color-primary, 20%);
  background-color: $color-accent;
  color: $color-light;
}

.btn-dash-card {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  color: $color-light;
  width: 100%;
  padding: 6px;
  font-family: $font-stack;
  font-size: 1.1rem;
  font-weight: 800;
  border-radius: 7px;
}


/***  AUTH  ***/
.logincard {
  background: rgba(255, 255, 255, 0.5);
  width: 80vw;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  margin: 20px auto;
  border-radius: 5px;
  z-index: 1;
}

.logincontainer {
  width: 100vw;
}

.login-main {
  width: 100vw;
  height: 100vh;
  margin: -10vh 0 0;
  background-size: cover;
  border: 1px solid transparent;
}

.login-register {
  text-decoration: none;
  color: $color-secondary;
  font-family: $font-stack;
  font-size: .9rem;
  width: 200px;
  text-align: right;
  margin: 0 auto;
}

.login-title {
  margin: 0 auto;
  font-family: $font-stack;


  h1 {
    color: $color-secondary;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 0;
  }

  p {
    margin: 0;
  }
}

.register-title {
  margin: 0 auto;
  font-family: $font-stack;
  color: $color-secondary;
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 0;

}

.login-text {
  font-family: $font-stack;
  color: $color-primary;
  margin: 0 0 1rem;
}

.register-text {
  font-family: $font-stack;
  color: $color-primary;
  margin: 0 0 .3rem;
  font-size: 1.3rem;
}

.login-image {
  z-index: -1;
  position: absolute;
  object-fit: cover;
  height: 100vh;
  right: 0;
  bottom: 0;
}

.login-subtitle {
  text-align: center;
  font-family: $font-stack;
  color: $color-primary;
}

.register-subtitle {
  text-align: center;
  font-family: $font-stack;
  color: $color-primary;
  margin: 0 0 .6rem;
}


/*** GENERAL ***/
.hidden {
  display: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.main {
  width: 100vw;
  height: 100%;
  margin: 0 auto;
  font-family: $font-stack;
  color: $color-primary;
  background-color: lighten($color-primary, 80%);
  display: flex;
  flex-flow: column;
}

.content {
  width: 90vw;
  margin: 0 auto 0;
}

.heading {
  width: 80vw;
  margin: 0 auto 2rem;
}

.title {
  font-family: $font-stack;
  color: $color-primary;
  font-size: 1.5rem;
  margin: 0 auto;
}

.title-sub-text {
  font-family: $font-stack;
  color: $color-primary;;
  font-size: 1rem;
  margin: 0 auto 1rem;
}


/*** DASHBOARD ***/

.greeting {
  font-family: $font-stack;
  color: $color-primary;;
  font-size: 1.3rem;
  margin: 4rem 5vw 0rem;
}

.dash-weather-card {
  background-color: lighten($color-primary, 30%);
  width: 100%;
  margin-top: 1rem;
  padding-top: .3rem;
  padding-bottom: 1rem;
}

.last-watch {
  background-color: $color-secondary;
  padding: .5rem 0 1rem;
  height: 100%;
}

.weather-container,
.last-container {
  width: 90%;
  margin: 0 auto;
}

.bottom-cards {
  margin: 0;
  width: 100%;
  padding: 1rem 0;
  background-color: lighten($color-primary, 20%);
}

.dash-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
          "start add"
          "start spotted";
  column-gap: 10px;
  row-gap: 10px;
  margin: 0 auto;
  width: 90%;
}

.start-session {
  grid-area: start;
  background-color: $color-primary;
  color: $color-l-text;
  border: 1px solid $color-primary;
}

.spotted-bird {
  grid-area: spotted;
  background-color: lighten($color-primary, 30%);
  color: $color-l-text;
  border: 1px solid lighten($color-primary, 30%);
}

.add-bird {
  grid-area: add;
  background-color: lighten($color-primary, 50%);
  color: lighten($color-primary, 10%);
  border: 1px solid lighten($color-primary, 30%);
}

.current-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: .5rem 0;
  color: white;
}

.card-title {
  font-family: $font-stack;
  font-size: 1.1rem;
  line-height: 1.1rem;
  font-weight: 600;
  margin: .5rem 0;
  color: white;
}

.weather-subhead {
  font-size: .9rem;
  font-weight: 400;
}

.minus_button,
.add_button {
  font-size: 2rem;
  color: #000000;
  border: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-content: center;
}

.bird-count {
  display: flex;
  justify-content: center;
  align-content: center;
}


/***  ADD A BIRD  ***/
#birdlist {
  display: none;
  width: 100%;
  height: 100%;
  margin: 2rem auto 0;
  padding: 20px 0;
  border-radius: 10px;
}


.bird-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#seenist {
  width: 100%;
  height: 100%;
  margin: 2rem auto 0;
  background-color: $color-light;
  padding: 20px 0;
  border-radius: 10px;
}

.bird-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 0 0 8px;
  padding: 10px;
  border-radius: 5px;

  font-weight: 400;
  font-size: 1rem;
  font-family: $font-stack;
}

.bird-box {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-self: center;
  border-radius: 5px;
  border: 0;
  text-align: center;
  padding-right: 2rem;
  cursor: pointer;
  background-color: transparent;
  font-size: 2rem;
}

.session-heading {
  width: 90vw;
  margin: 0 0 1rem 5vw;
}

.current-conditions {
  // background-color: lighten($color-secondary, 10%);
}

.session-title {
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.session-space {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.session-space .current-conditions {
  flex: 0 1 7vh;
}

.session-space .seen-session {
  flex: 0 1 auto;
}

.session-space .unseen-session {
  flex: 1 1 auto;
}

.seen-session {
  width: 90vw;
  background-color: lighten($color-secondary, 30%);
  padding: 0 5vw 1rem;
  border-top: 6px solid $color-secondary;
}

.unseen-session {
  width: 90vw;
  background-color: lighten($color-primary, 40%);
  padding: 0 5vw;
  flex: 0 1 auto;
}

.watch-box {
  width: 90%;
  background-color: lighten($color-primary, 20%);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid $color-primary;
  color: $color-l-text;
}

.watch-box-unseen {
  width: 90%;
  background-color: lighten($color-primary, 30%);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid lighten($color-primary, 20%);
  color: lighten($color-primary, 60%);
}

.seen-watch-box {
  width: 90%;
  background-color: lighten($color-secondary, 10%);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid $color-secondary;
  color: $color-light;
}

.forminput {
  width: 80%;
  margin: 0 auto 1rem;
}

.search-adds {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 1rem;
  width: 98%;
}

.full-list {
  padding: 3px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #cccccc;
  margin: 0 0 0 0;
  font-weight: 600;
  font-size: .8rem;
}

.reset {
  padding: 3px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #cccccc;
  margin: 0 0 0 0;
  font-weight: 600;
  font-size: .8rem;
}

.search-bar {
  width: 95%;
}

.searchcontainer {
  width: 90vw;
  margin: 2rem auto 0;
}

.find-top {
  margin-top: 3.5rem;
}

/*  Spinner  */
.spinner-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}



/*** ADD SINGLE BIRD TO DB ***/
.map_container {
  height: 300px;
  width: 100%;
  margin: 0 auto;
}

.seen_title {
  font-family: $font-stack;
  font-size: 1.5rem;
  text-align: left;
  color: #666;
  margin: 0;
}

.seen_text {
  display: inline-block;
  font-family: $font-stack;
  font-size: 1rem;
  text-align: left;
  color: #666;
  margin: 0 0 .25rem;
}

.seen_bird {
  font-size: 2.5rem;
  color: $color-primary;
  text-align: left;
  margin: -.5rem 0;
}

.leafletContainer {
  margin: 0 auto;
}

.counter_elements {
  display: flex;
  flex-direction: row;
}

.counter_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 0 0 1rem;
}

.counter_text {
  align-self: center;
  font-family: $font-stack;
}

.seen_time {
  font-size: 1rem;
  color: black;
  font-weight: 400;
  font-family: $font-stack;
}

.seen_city {
  font-size: 1rem;
  color: black;
  font-weight: 600;
  margin: 0;
  font-family: $font-stack;
}

.minus_button,
.add_button {
  font-size: 2rem;
  color: #000000;
  border: 0;
  background-color: transparent;
}

.count_elem {
  font-size: 1.5rem;
  color: $color-primary;
  margin: 0 .5rem;
}


/*** Bird watching session Page ***/
.sessionList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  font-family: $font-stack;
  font-size: 1.1rem;
  font-weight: 400;
  align-self: center;
  margin-bottom: .5rem;

  p {
    align-self: center;
  }
}

.sessionInput {
  border: 0;
  font-family: $font-stack;
  font-size: 1.1rem;
  font-weight: 400;
  align-self: center;
}

.sessionCounter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 35%;
}

.sessionCount {
  align-self: center;
  justify-self: center;
  width: 1.5rem;
  font-size: 1.2rem;
  border: 0;
  font-family: $font-stack;
  font-weight: 400;
}

.bird-box {
  font-size: .9rem;
  width: 1.5rem;
  align-self: center;
  justify-self: center;
}

.allBirds {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.move {
  z-index: -10;
  position: relative;
  left: 3vw;
}

.seen-icon {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 1.2rem;
  text-align: right;
  margin-right: .3rem;

}

.unseen-icon {
  width: 1rem;
  text-align: right;
  margin-right: .3rem;
}

.bird-name {
  text-align: left;
  width: 50%;
}

.info {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  font-size: .8rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-content: center;
  color: lighten($color-primary, 55%);
}

.ReactModalPortal .ReactModal__Overlay.ReactModal__Overlay--after-open {
  background-color: rgba(0, 0, 0, .5) !important;

}

.instruction {
  border-radius: 10px;
  display: block;
  background-color: $color-primary;
  width: 80vw;
  margin: 0 auto;
  padding: 5vw 5vw 8vw;
  color: $color-l-text;
  font-family: $font-stack;
  font-weight: 400;
  font-size: 1rem;
}

.card-title-instruct {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: .5rem;
  font-family: $font-stack;
  font-weight: 800;
  font-size: 1.1rem;
}

.modal-close {
  text-align: right;
  font-weight: 800;
  font-family: $font-stack;
  color: $color-l-text;
  font-size: 1.1rem;
  background-color: transparent;
  border: 0;
}

.instruct-text {
  margin-bottom: .5rem;
}