/***  Header  ***/
header {
  z-index: 5;
  position: relative;
}

nav {
  background-color: $color-primary;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 40px;
}

.navbar {
  display: flex;
  flex-direction: row;
  color: $color-light;
  justify-content: space-between;
  align-self: center;
  width: 90vw;
  font-size: .9rem;
  font-family: $font-stack;

  a {
    color: $color-light;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;

    li{
      margin-left: 10px;
    }
  }
}

.header-title {
  width: 80vw;
  margin: 2vh auto 2vh;
}



/***  BUTTONS  ***/
.btn {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  padding: 10px 15px;
  border-radius: 5px;
  font: $font-stack;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 1rem auto;
  text-align: center;
}

.btn-register {
  width: 200px;
  border: 1px solid lighten($color-primary, 20%);
  background-color: $color-primary;
  color: $color-light;
}

.btn_session {
  width: 200px;
  border: 1px solid lighten($color-primary, 20%);
  background-color: $color-accent;
  color: $color-light;
}


/***  AUTH  ***/
.logincard {
  background-color: white;
  width: 80vw;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  margin: 75px auto;
  border-radius: 5px;
}

.logincontainer {
  width: 100vw;
  height: 110vh;
  margin: -10vh 0 0;
  background-size: cover;
  border: 1px solid transparent;
}



/*** GENERAL ***/
h1 {
  font-size: 1.3rem;
  margin: 0 auto;
  text-align: center;
}

h3 {
  color: #177e89ff;
}

.hidden {
  display: none;
}

.main{
  width:100vw;
  min-height: 100vh;
  padding-bottom: 30px;
  margin: 0 auto;
}

.content{
  width: 90vw;
  height: 100%;
  margin: 1rem auto 0;
}

.heading{
  width: 80%;
  margin: 0 auto 2rem;
}

.title{
  font-family: $font-stack;
  color: $color-primary;;
  font-size: 3rem;
  margin: 0 auto;
}

.title-sub-text{
  font-family: $font-stack;
  color: $color-primary;;
  font-size: 1rem;
  margin: 0 8vw 2rem;
}

/***  ADD A BIRD  ***/
#birdlist{
  display: none;
  width: 100%;
  height: 100%;
  margin: 2rem auto 0;
  padding: 20px 0;
  border-radius: 10px;
}

#seenist{
  width: 100%;
  height: 100%;
  margin: 2rem auto 0;
  background-color: $color-light;
  padding: 20px 0;
  border-radius: 10px;
}

.bird-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 80%;
  margin: 0 auto 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #999999;
  font-weight: 400;
  font-size: 1rem;
  font-family: $font-stack;
}


.bird-box {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-self: center;
  border-radius: 5px;
  border: 0px;
  text-align: center;
  padding-right: 2rem;
  cursor: pointer;
  background-color: transparent;
  font-size: 2rem;
}

.forminput{
  width: 80%;
  margin: 0 auto 1rem;
}

.search-adds {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 0 0 1rem;
}

.full-list {
  padding: 3px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #cccccc;
  margin: 0 0 0 10%;
  font-weight: 600;
  font-size: .8rem;

}

.reset {
  padding: 3px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #cccccc;
  margin: 0 10% 0 0;
  font-weight: 600;
  font-size: .8rem;
}

.search-bar {
  width: 80%;
}

.searchcontainer {
  width: 90vw;
  margin: 2rem auto 0;
}

/*  Spinner  */
.spinner-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

/*** DASHBOARD ***/

.bird-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*** ADD SINGLE BIRD TO DB ***/
.map_container {
  height: 300px;
  width: 100%;
  margin: 0 auto;
}


.seen_title {
  font-family: $font-stack;
  font-size: 1.5rem;
  text-align: left;
  color: #666;
  margin: 0;
}

.seen_text {
  display: inline-block;
  font-family: $font-stack;
  font-size: 1rem;
  text-align: left;
  color: #666;
  margin: 0 0 .25rem;
}

.seen_bird {
  font-size: 2.5rem;
  color: $color-primary;
  text-align: left;
  margin: -.5rem 0;
}

.leafletContainer {
  margin: 0 auto;
}

.counter_elements {
  display: flex;
  flex-direction: row;
}

.counter_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 0 0 1rem;
}

.counter_text {
  align-self: center;
  font-family: $font-stack;
}

.seen_time {
  font-size: 1rem;
  color: black;
  font-weight: 400;
  font-family: $font-stack;
}

.seen_city {
  font-size: 1rem;
  color: black;
  font-weight: 600;
  margin: 0;
  font-family: $font-stack;
}

.minus_button,
.add_button {
  font-size: 2rem;
  color: #000000;
  border: 0;
  background-color: transparent;
}

.count_elem {
  font-size: 1.5rem;
  color: $color-primary;
  margin: 0 .5rem;
}


/*** Bird watching sesssion Page ***/
.sessionList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  font-family: $font-stack;
  font-size: 1.1rem;
  font-weight: 400;
  align-self: center;
  margin-bottom: .5rem;

  p {
    align-self: center;
  }
}

.sessionInput {
  border: 0;
  font-family: $font-stack;
  font-size: 1.1rem;
  font-weight: 400;
  align-self: center;
}

.sessionCounter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 35%;
}

.sessionCount {
  align-self: center;
  justify-self: center;
  width: 1.5rem;
  font-size: 1.2rem;
  border: 0;
  font-family: $font-stack;
  font-weight: 400;
}

.bird-box {
  font-size: .9rem;
  width: 1.5rem;
  align-self: center;
  justify-self: center;
}

.allBirds {
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
}

.col {
  display: flex;
  flex-direction: column;
}
