$color-primary: #1E1D2F;
$color-secondary: #B86B38;
$color-light: #e8f7eeff;
$color-accent: #3651FF;


$font-stack: 'Jost', sans-serif;

/**********  Colors *********/

/* SCSS HEX */
$dark-jungle-green: #0f1a18ff;
$rosewood: #5a0001ff;
$metallic-seaweed: #177e89ff;
$honeydew: #e8f7eeff;

/* SCSS RGB */
$dark-jungle-green: rgba(15, 26, 24, 1);
$rosewood: rgba(90, 0, 1, 1);
$metallic-seaweed: rgba(23, 126, 137, 1);
$honeydew: rgba(232, 247, 238, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0f1a18ff, #5a0001ff, #177e89ff, #e8f7eeff);
$gradient-right: linear-gradient(90deg, #0f1a18ff, #5a0001ff, #177e89ff, #e8f7eeff);
$gradient-bottom: linear-gradient(180deg, #0f1a18ff, #5a0001ff, #177e89ff, #e8f7eeff);
$gradient-left: linear-gradient(270deg, #0f1a18ff, #5a0001ff, #177e89ff, #e8f7eeff);
$gradient-top-right: linear-gradient(45deg, #0f1a18ff, #5a0001ff, #177e89ff, #e8f7eeff);
$gradient-bottom-right: linear-gradient(135deg, #0f1a18ff, #5a0001ff, #177e89ff, #e8f7eeff);
$gradient-top-left: linear-gradient(225deg, #0f1a18ff, #5a0001ff, #177e89ff, #e8f7eeff);
$gradient-bottom-left: linear-gradient(315deg, #0f1a18ff, #5a0001ff, #177e89ff, #e8f7eeff);
$gradient-radial: radial-gradient(#0f1a18ff, #5a0001ff, #177e89ff, #e8f7eeff);


/*  Spinner  */
.spinner-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

/******* Utility **********/
h1,
h2,
h3,
h4 {
  margin-block-start: 0;
  margin-block-end: 0;
}